<!-- what will be displayed as the link on index to full question posts -->

<li>
    {{#link-to 'question' question.id}}
      {{fullQuestioner}}
    {{/link-to}}
    {{question-popularity question}}
    {{update-question question=question edit="edit"}}
</li>
