<h2>"{{question.title}}"</h2>

Asked By: {{question.author}}<br><br>
Further Considerations: <br>
{{question.notes}}


<br><br>
add edit ability <br>
add comments from users <br>
allow users to edit comments
