<!-- what will be displayed as the link on index to full question posts -->

<li>{{#link-to 'question' question.id}}
    {{question.author}} asks "{{question.title}}"
    {{update-question question=question update="update"}}
  {{/link-to}}
</li>
