<!-- what will be displayed as the link on index to full question posts -->

<li>{{#link-to 'question' question.id}}
    {{question.author}} asks "{{question.title}}"
  {{/link-to}}
  {{update-question question=question edit="edit"}}
</li>
