*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
}

nav {
  background-image: url("flight.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  letter-spacing: 3px;
  text-align: center;
}

.homeLink a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.homeLink a:hover {
  letter-spacing: 7px;
}

.title h1 {
  font-size: 70px;
  font-weight: lighter;
  color: white;
  align-items: center;
}

h2 {
  color: red;
}
