<!-- html that is displayed on the pg, using hbs to call new events/functionalities -->

<h2>Homepage</h2>

<ul>
  <!-- list questions -->
  {{#each model as |question|}}
    {{question-tile question=question edit="edit"}}
  {{/each}}
</ul>

<h2>Post a New Question</h2>
<!-- add a new quetion -->
{{new-question save2="save3" question=model}}
