<!-- route info to pg -->

I'm the favorite: "{{favorite-tile}}"
<!-- question details -->
{{question-detail question=model}}

<!-- answer details -->
<div class="answerBtn" >
  {{new-answer saveAnswer2="saveAnswer3" question=model}}
</div>
